body {
  color: white;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: black;
  color: white;
  width: 800px;
  margin-left: 8em;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

rect {
  fill: #f1356d;
  fill-opacity: 0.8;
}

rect:hover {
  fill-opacity: 1;
}

.axis {
  font-size: smaller;
}

/* tooltip styling */

#tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: #f8a7bf;
  -webkit-border-raadius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: black;
}

.highlight {
  fill: #da7190;
  opacity: 0.7;
}

/* navbar styling */

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  margin-left: 8%;
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: white;
}

.navbar a:hover {
  color: #f1356d;
}

span {
  margin: 20px;
}

.label {
  display: inline-block;
  width: 120px;
}
